<div id='book-page'>
    <div class='container'>
        <h1>{{book.title}}</h1>
        <p>Este livro possui {{book.pageqty}} páginas.</p>
        <hr />
        <a href='/'>Voltar</a>
    </div>
</div>