<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lista de carros</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <h1 class="red">Lista de carros</h1>
        <ul>
            <li>Gol</li>
            <li>Uno</li>
            <li>Fusca</li>
            <li>Corsa</li>
        </ul>
        <a href="/">Voltar</a>
    </body>
</html>
