<div id='book-page'>
    <div class='container'>
        <h1>{{book.title}}</h1>
        <p>Este livro possui {{book.pageqty}} páginas.</p>
        <div class='actions'>
            <a href='/books/edit/{{book.id}}'>Editar</a>
        </div>
        <hr />
    </div>
    <a href='/'>Voltar</a>
</div>